chapter05/src/main/app/aggregateResponses.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm
http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http
http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms
http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/core
http://www.mulesoft.org/schema/mule/core/current/mule.xsd
">



 <!--<start id="ch05_asyncRequestReply_lis/>-->
    <flow name="asyncRequestReply">
        <vm:inbound-endpoint exchange-pattern="one-way" 
            path="order.submission"/>
        <request-reply>
            <jms:outbound-endpoint queue="db.order.insert" 
                    connector-ref="Active_MQ">
            </jms:outbound-endpoint>  <!-- <co id="ch05-request-reply-1-cor"/> -->
            <jms:inbound-endpoint 
                topic="db.order.insert.status">  <!-- <co id="ch05-request-reply-2-cor"/> -->
                <jms:selector 
               expression=
            "PD_ORDER_ID=#[inboundProperties('PD_ORDER_ID')]"/>
            </jms:inbound-endpoint>
        </request-reply>
        <logger message=
"Order status for #[inboundProperties('PD_ORDER_ID')]: #[payload]" 
    level="INFO"/><!-- <co id="ch05-request-reply-3-cor"/> -->
    </flow>
    <!--<end id="ch05_asyncRequestReply_lis/>-->

  </mule>
