chapter05/src/main/app/aggregateResponses.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm" 
      xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns:file="http://www.mulesoft.org/schema/mule/file" 
      xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" 
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms" 
      xmlns:imap="http://www.mulesoft.org/schema/mule/imap" 
      xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:email="http://www.mulesoft.org/schema/mule/email" 
      xmlns:spring="http://www.springframework.org/schema/beans" 
      xmlns:core="http://www.mulesoft.org/schema/mule/core" 
      xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm" 
      xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      version="EE-3.3.0" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm 
http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/xml 
http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/http 
http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/file 
http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/mongo 
http://www.mulesoft.org/schema/mule/mongo/2.0/mule-mongo.xsd 
http://www.mulesoft.org/schema/mule/jms 
http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd 
http://www.mulesoft.org/schema/mule/imap 
http://www.mulesoft.org/schema/mule/imap/current/mule-imap.xsd 
http://www.mulesoft.org/schema/mule/smtp 
http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd 
http://www.mulesoft.org/schema/mule/email 
http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd 
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core 
http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/bpm 
http://www.mulesoft.org/schema/mule/bpm/current/mule-bpm.xsd">


 <!--<start id="ch05_asyncRequestReply_lis/>-->
    <flow name="asyncRequestReply" 
            doc:name="asyncRequestReply">
        <vm:inbound-endpoint exchange-pattern="one-way" 
            path="order.submission" doc:name="VM"/>
        <request-reply>
            <jms:outbound-endpoint queue="db.order.insert" 
                    connector-ref="Active_MQ">
            </jms:outbound-endpoint>  <!-- <co id="ch05-request-reply-1-cor"/> -->
            <jms:inbound-endpoint 
                topic="db.order.insert.status">  <!-- <co id="ch05-request-reply-2-cor"/> -->
                <jms:selector 
               expression=
            "PD_ORDER_ID=#[inboundProperties('PD_ORDER_ID')]"/>
            </jms:inbound-endpoint>
        </request-reply>
        <logger message=
"Order status for #[inboundProperties('PD_ORDER_ID')]: #[payload]" 
    level="INFO" doc:name="Logger"/><!-- <co id="ch05-request-reply-3-cor"/> -->
    </flow>
    <!--<end id="ch05_asyncRequestReply_lis/>-->

  </mule>
