chapter05/src/main/app/expenseReportsCallbackWithDLQ.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"

      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      version="EE-3.3.0" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http 
http://www.mulesoft.org/schema/mule/http/3.3/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms 
http://www.mulesoft.org/schema/mule/jms/3.3/mule-jms.xsd
http://www.mulesoft.org/schema/mule/vm 
http://www.mulesoft.org/schema/mule/vm/3.3/mule-vm.xsd
http://www.mulesoft.org/schema/mule/core 
http://www.mulesoft.org/schema/mule/core/3.3/mule.xsd">

    <jms:activemq-connector name="Active_MQ"
                            specification="1.1"
                            brokerURL="vm://localhost"/>

 <!--<start id="ch05_expenseReportCallbackWithDLQ_lis"/>-->
    <flow name="expenseReportCallbackWithDLQ" 
            doc:name="expenseReportCallback">
        <vm:inbound-endpoint path="orders" doc:name="VM"/>
        <choice doc:name="Choice"><!-- <co id="ch05_expenseReportCallbackWithDLQ-1-cor"/> -->
            <when 
        expression="payload.class == 'com.prancingdonkey.domain.Brew'">
                <processor-chain>
                    <jms:outbound-endpoint 
                        queue="brews.definitions" 
                        connector-ref="Active_MQ" doc:name="JMS"/>
                </processor-chain>
            </when>
            <when 
            expression="payload is com.prancingdonkey.domain.Order">
                <processor-chain>
                    <jms:outbound-endpoint queue="brews.orders" 
                        connector-ref="Active_MQ" doc:name="JMS"/>
                </processor-chain>
            </when>
            <otherwise>
                <processor-chain>
                    <jms:outbound-endpoint queue="DLQ" 
                    connector-ref="Active_MQ" doc:name="JMS"/>
                </processor-chain>
            </otherwise>
        </choice>
    </flow>
    <!--<end id="ch05_expenseReportCallbackWithDLQ_lis"/>-->

</mule>
