chapter05/src/main/app/nestedLogical.xml
<?xml version="1.0" encoding="UTF-8"?>


<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http
http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms
http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/core
http://www.mulesoft.org/schema/mule/core/current/mule.xsd
">


    <notifications dynamic="true">
        <notification event="COMPONENT-MESSAGE"/>
    </notifications>

    <jms:activemq-connector name="jmsConnector"
                            specification="1.1"
                            brokerURL="vm://localhost"/>

    <!--<start id="ch05_nestedLogical_lis"/>-->
    <flow name="routeHighPriorityOrdersOfTheCorrectType">

        <jms:inbound-endpoint queue="orders"
                              connector-ref="jmsConnector" />
        <and-filter>
            <or-filter>
                <expression-filter
            expression="payload.priority == 'HIGH'"/>
                <expression-filter
 expression="message.inboundProperties['PD_PRIORITY']&#xD;
  == 'HIGH'"/>
            </or-filter>
            <payload-type-filter
 expectedType="com.prancingdonkey.domain.Order"/>
        </and-filter>
        <component
class="com.prancingdonkey.service.HighPriorityOrderProcessingService"/>
    </flow>
    <!--<end id="ch05_nestedLogical_lis"/>-->


</mule>
