chapter05/src/main/app/processSalesForceAlert.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm" 
      xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns:file="http://www.mulesoft.org/schema/mule/file" 
      xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" 
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms" 
      xmlns:imap="http://www.mulesoft.org/schema/mule/imap" 
      xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:email="http://www.mulesoft.org/schema/mule/email" 
      xmlns:spring="http://www.springframework.org/schema/beans" 
      xmlns:core="http://www.mulesoft.org/schema/mule/core" 
      xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm" 
      xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      version="EE-3.3.0" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm 
http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/xml 
http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/http 
http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/file 
http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/mongo 
http://www.mulesoft.org/schema/mule/mongo/2.0/mule-mongo.xsd 
http://www.mulesoft.org/schema/mule/jms 
http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd 
http://www.mulesoft.org/schema/mule/imap 
http://www.mulesoft.org/schema/mule/imap/current/mule-imap.xsd 
http://www.mulesoft.org/schema/mule/smtp 
http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd 
http://www.mulesoft.org/schema/mule/email 
http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd 
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core 
http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/bpm 
http://www.mulesoft.org/schema/mule/bpm/current/mule-bpm.xsd">


 <!--<start id="ch05_processSalesForceAlert_lis"/>-->
    <flow name="processSalesForceAlert" 
            doc:name="processSalesForceAlert">
        <vm:inbound-endpoint exchange-pattern="one-way" 
            path="alerts.salesforce" doc:name="VM"/>
        <logger message="#[payload]" level="INFO" 
            doc:name="Logger"/><!-- <co id="ch05_processSalesForceAlert-1-cod"/> -->

        <all doc:name="All"><!-- <co id="ch05_processSalesForceAlert-2-cod"/> -->
            <processor-chain>
                <smtp:outbound-endpoint host="localhost" 
                port="25" 
                responseTimeout="10000" 
                doc:name="SMTP"/><!-- <co id="h05_processSalesForceAlert-3-cod"/> -->
            </processor-chain>
            <processor-chain>
                <mongo:insert-object config-ref="Mongo_DB" 
                collection="alerts" 
                doc:name="Mongo DB"/><!-- <co id="h05_processSalesForceAlert-4-cod"/> -->
            </processor-chain>
        </all>
    </flow>
    <!--<end id="ch05_processSalesForceAlert_lis "/>-->
 
 </mule>
