chapter05/src/main/app/routeHighPriorityOrdersWithProperties.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:context="http://www.springframework.org/schema/context"

      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http
http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms
http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/core
http://www.mulesoft.org/schema/mule/core/current/mule.xsd
 http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-3.0.xsd

">

    <notifications dynamic="true">
        <notification event="COMPONENT-MESSAGE"/>
    </notifications>

    <jms:activemq-connector name="Active_MQ"
                            specification="1.1"
                            brokerURL="vm://localhost"/>

 <!--<start id="ch05_routeHighPriorityOrdersWithProperties_lis"/>-->
    <flow name="routeHighPriorityOrdersWithProperties">

        <jms:inbound-endpoint topic="orders" 
            connector-ref="Active_MQ"/>
        <expression-filter 
            expression="payload.priority == 'HIGH'" 
       />
        <component 
class="com.prancingdonkey.service.HighPriorityOrderProcessingService" />
    </flow>
    <!--<end id="ch05_routeHighPriorityOrdersWithProperties_lis"/>-->



 </mule>
