chapter05/src/main/app/splitLineItems.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      version="EE-3.3.0" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http 
http://www.mulesoft.org/schema/mule/http/3.3/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms 
http://www.mulesoft.org/schema/mule/jms/3.3/mule-jms.xsd
http://www.mulesoft.org/schema/mule/core 
http://www.mulesoft.org/schema/mule/core/3.3/mule.xsd">


    <jms:activemq-connector name="jmsConnector"
                            specification="1.1"
                            brokerURL="vm://localhost"/>


    <!--<start id="ch05_splitLineItems_lis"/>-->
    <flow name="splitLineItems" >
        <jms:inbound-endpoint queue="order.submission" 
            connector-ref="jmsConnector"/>
        <set-property
                propertyName="ORDER_ID"
                value="#[xpath('/order/id').text]"/> <!--<co id="ch05-splitter-1-cor"/>-->
        <splitter
            expression="xpath('//lineItem')"
            /><!--<co id="ch05-splitter-2-cor"/>-->
        <set-property
          propertyName="MULE_CORRELATION_ID"
          value="#[flowVars['PD_ORDER_ID']]"/><!--<co id="ch05-splitter-3-cor"/>-->
        <jms:outbound-endpoint queue="lineitem.processing" 
            connector-ref="jmsConnector" /><!--<co id="ch05-splitter-4-cor"/>-->
    </flow>
    <!--<end id="ch05_splitLineItems_lis"/>-->

  </mule>
