chapter14/src/main/app/mediation-config.xml
<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
      xmlns:ss="http://www.springframework.org/schema/security"
      xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
      xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.3.1"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/3.2/mule-spring-security.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd ">
    <spring:beans>
        <ss:authentication-manager alias="authenticationManager">
            <ss:authentication-provider>
                <ss:user-service id="userService">
                    <ss:user name="ross" password="ross" authorities="ROLE_ADMIN"/>
                    <ss:user name="anon" password="anon" authorities="ROLE_ANON"/>
                </ss:user-service>
            </ss:authentication-provider>
        </ss:authentication-manager>
    </spring:beans>

    <mule-ss:security-manager>
        <mule-ss:delegate-security-provider name="memory-provider" delegate-ref="authenticationManager"/>
    </mule-ss:security-manager>


    <!--<start id="mediation_lis"/>-->

    <flow name="ServiceMediationFlow">
        <http:inbound-endpoint
                exchange-pattern="request-response"
                host="api.prancingdonkey.com"
                port="80"/><!--<co id="mediation-1-co"/>-->
        <mule-ss:http-security-filter realm="mule-realm"/> <!--<co id="mediation-2-co"/>-->
        <mulexml:schema-validation-filter
                schemaLocations="schema/order.xsd"
                returnResult="true"/> <!--<co id="mediation-3-co"/>-->
        <component
   class="com.prancingdonkey.service.RegistryLookupService"/> <!--<co id="mediation-4-co"/>-->
        <http:outbound-endpoint
                exchange-pattern="request-response"
                host="api.prancingdonkey.com" port="80"
                path="#[flowVars['resolvedEndpoint']]"/><!--<co id="mediation-5-co"/>-->
    </flow>
    <!--<end id="mediation_lis"/>-->


</mule>
