chapter14/src/main/app/order-cep-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
      xmlns:esper="http://www.mulesoft.org/schema/mule/esper"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.2/mule-jms.xsd
        http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.2/mule-xml.xsd
        http://www.mulesoft.org/schema/mule/esper http://www.mulesoft.org/schema/mule/esper/1.0/mule-esper.xsd">

    <esper:config configuration="esper-config.xml"/>

    <jms:activemq-connector name="jmsConnector"
                            specification="1.1"
                            brokerURL="vm://localhost"/>

    <!--<start id="esper_cep_config_lis"/>-->
    <flow name="orderCompletionEventInjection">
        <jms:inbound-endpoint topic="events.orders.completed"/>
        <esper:send eventPayload-ref="#[message.payload]"
                    eventName="OrderEvent"/> <!--<co id="esper_cep_config-1-co"/>-->
    </flow>

    <flow name="Event Listener Flow">
        <esper:listen  statement=
                        "select count(*), stddev(count(*))
                        from OrderCompletedEvent.win:length(3600000)
                         having stddev(count(*)) > 1 "/> <!--<co id="esper_cep_config-2-co"/>-->
        <expression-transformer evaluator="map-payload"
                                expression="count(*)"/>
        <jms:outbound-endpoint topic="alerts.orders" />
    </flow>
    <!--<end id="esper_cep_config_lis"/>-->
</mule>
