chapter04/src/test/resources/scripting.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
    xmlns:file="http://www.mulesoft.org/schema/mule/file"
    xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
        http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
     
     <jms:activemq-connector name="jmsConnector" specification="1.1" />
        
    <flow name="groovy-uppercase-flow">
        <vm:inbound-endpoint path="groovy-uppercase.in" exchange-pattern="request-response" />
        
<!--<start id="lis_04_groovy-uppercase"/>-->
<scripting:transformer name="groovyTransformer"><!--<co id="lis_04_transform_payload_csv_1" />-->
    <scripting:script engine="groovy"><!--<co id="lis_04_transform_payload_csv_2" />-->
    	<scripting:text><![CDATA[
			return payload.toUpperCase();
			]]>	
		</scripting:text>
    </scripting:script><!--<co id="lis_04_transform_payload_csv_3" />-->
</scripting:transformer>
<!--<end id="lis_04_groovy-uppercase"/>-->
    </flow>
    
<!--<start id="lis_04_order_transformer_config"/>-->
<flow name="groovyCsvTransformer">
    <file:inbound-endpoint path="./data" /><!--<co id="lis_04_order_transformer_config_1" />-->
    	
    <byte-array-to-object-transformer/><!--<co id="lis_04_order_transformer_config_2" />-->
    
    <scripting:transformer><!--<co id="lis_04_order_transformer_config_3" />-->
        <scripting:script 
            file="orderTransformer.groovy" /><!--<co id="lis_04_order_transformer_config_4" />-->
    </scripting:transformer>
        
    <jms:outbound-endpoint queue="orders" />
</flow>
<!--<end id="lis_04_order_transformer_config"/>-->
    
</mule>