chapter09/src/test/resources/exception-strategies-catch.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:https="http://www.mulesoft.org/schema/mule/http" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd
        http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/3.2/mule-jersey.xsd
        http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.2/mule-cxf.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.2/mule-file.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        ">
     
<!--<start id="lis_09_exception-strategies-catch"/>-->
<flow name="ShippingCostCalculatorFlow">
  <inbound-endpoint address="vm://calculateShippingCost.in" 
	exchange-pattern="request-response" />
  <component>
    <singleton-object 
	  class="com.prancingdonkey.component.ShippingCostCalculator" />
  </component>
  <catch-exception-strategy><!--<co id="lis_09_exception-strategies-catch_1" />-->
    <set-payload value="Error: #[exception.getSummaryMessage()]"/>
    <logger message=
      "ShippingCost error : #[exception.getSummaryMessage()]" 
      level="ERROR" /><!--<co id="lis_09_exception-strategies-catch_2" />-->
  </catch-exception-strategy>
</flow>
<!--<end id="lis_09_exception-strategies-catch"/>-->

</mule>
