chapter02/src/test/resources/sub-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:core="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
          http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
          http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd 
          http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
          
    <jms:activemq-connector name="amqConnector" />
    
    <!--<start id="lis_02_sub-flow-1"/>-->
    <sub-flow name="legacyAdapterSubFlow">
        <mulexml:xslt-transformer xsl-file="v1_to_v2.xsl" />
        <mulexml:xml-to-object-transformer />
    </sub-flow>
    
    <flow name="mainFlow1">
        <http:inbound-endpoint host="localhost"
                               port="8080"
                               path="v1/email" />
        <flow-ref name="legacyAdapterSubFlow" />
        <component class="com.prancingdonkey.service.v2.EmailGateway" />
    </flow>
    
    <flow name="mainFlow2">
        <jms:inbound-endpoint queue="v1.email" />
        <flow-ref name="legacyAdapterSubFlow" />
        <component class="com.prancingdonkey.service.v2.EmailGateway" />
    </flow>
    <!--<end id="lis_02_sub-flow-1"/>-->
    
    <flow name="test-request-dispatcher">
        <vm:inbound-endpoint path="test-request-dispatcher.in"
                             exchange-pattern="request-response" />
        <message-properties-transformer scope="invocation">
            <add-message-property key="valid" value="#[message.inboundProperties['valid']]" />
        </message-properties-transformer>
        <flow-ref name="requestDispatcher" />
    </flow>
    
    <!--<start id="lis_02_sub-flow-2"/>-->
    <sub-flow name="requestDispatcher">
        <choice>
            <when expression="#[valid]">
                <vm:outbound-endpoint path="valid.request.handler"
                                      exchange-pattern="request-response" />
            </when>
            <otherwise>
                <vm:outbound-endpoint path="invalid.request.handler"
                                      exchange-pattern="request-response" />
            </otherwise>
        </choice>
    </sub-flow>
    <!--<end id="lis_02_sub-flow-2"/>-->
</mule>