chapter09/src/test/resources/transaction/transaction-xa-resin.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc"
	xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
        http://www.mulesoft.org/schema/mule/jdbc http://www.mulesoft.org/schema/mule/jdbc/current/mule-jdbc.xsd">

<!--<start id="lis_09_transaction-xa-resin"/>-->
<jms:activemq-xa-connector name="jmsConnector" specification="1.1" />

<jdbc:connector name="operationalDb" 
  dataSource-ref="operationalDataSource">
  <jdbc:query key="operationalBillingInsert"
    value=
      "INSERT INTO billing_stats VALUES (0,#[message.payload.STAT])"/>
</jdbc:connector>

<jdbc:connector name="warehouseDb" 
  dataSource-ref="warehouseDataSource">
  <jdbc:query key="warehouseBillingInsert"
    value=
      "INSERT INTO billing_stats VALUES (0,#[message.payload.STAT])"/>
</jdbc:connector>

<resin-transaction-manager/><!--<co id="lis_09_transaction-xa-resin_1" />-->

<flow name="transactedMulticastingRouterService" >

	<jms:inbound-endpoint queue="billingData">
		<xa-transaction action="ALWAYS_BEGIN" />
	</jms:inbound-endpoint>

	<component class="com.prancingdonkey.component.BillingService" />

	<jdbc:outbound-endpoint connector-ref="operationalDb"
		queryKey="operationalBillingInsert">
		<xa-transaction action="ALWAYS_JOIN" />
	</jdbc:outbound-endpoint>
	 
	<jdbc:outbound-endpoint connector-ref="warehouseDb"
		queryKey="warehouseBillingInsert">
		<xa-transaction action="ALWAYS_JOIN" />
	</jdbc:outbound-endpoint>

</flow>
<!--<end id="lis_09_transaction-xa-resin"/>-->
    
</mule>
