chapter09/src/test/resources/transaction/transaction-xa.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:https="http://www.mulesoft.org/schema/mule/http" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc"
	xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts"
	xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
        http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
        http://www.mulesoft.org/schema/mule/jdbc http://www.mulesoft.org/schema/mule/jdbc/current/mule-jdbc.xsd
        http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/current/mule-jbossts.xsd
        ">

<!--<start id="lis_09_transaction-xa"/>-->
<jms:activemq-xa-connector name="jmsConnector" specification="1.1" /><!--<co id="lis_09_transaction-xa_1" />-->

<jdbc:connector name="operationalDb" 
  dataSource-ref="operationalDataSource"><!--<co id="lis_09_transaction-xa_2" />-->
  <jdbc:query key="operationalBillingInsert"
    value=
      "INSERT INTO billing_stats VALUES (0,#[message.payload.STAT])"/>
</jdbc:connector>

<jdbc:connector name="warehouseDb" 
  dataSource-ref="warehouseDataSource"><!--<co id="lis_09_transaction-xa_3" />-->
  <jdbc:query key="warehouseBillingInsert"
    value=
      "INSERT INTO billing_stats VALUES (0,#[message.payload.STAT])"/>
</jdbc:connector>

<jbossts:transaction-manager/><!--<co id="lis_09_transaction-xa_4" />-->

<flow name="transactedMulticastingRouterService" >

	<jms:inbound-endpoint queue="billingData">
		<xa-transaction action="ALWAYS_BEGIN" /><!--<co id="lis_09_transaction-xa_5" />-->
	</jms:inbound-endpoint>

	<component class="com.prancingdonkey.component.BillingService" />

	<jdbc:outbound-endpoint connector-ref="operationalDb"
		queryKey="operationalBillingInsert">
		<xa-transaction action="ALWAYS_JOIN" /><!--<co id="lis_09_transaction-xa_6" />-->
	</jdbc:outbound-endpoint>
	 
	<jdbc:outbound-endpoint connector-ref="warehouseDb"
		queryKey="warehouseBillingInsert">
		<xa-transaction action="ALWAYS_JOIN" /><!--<co id="lis_09_transaction-xa_7" />-->
	</jdbc:outbound-endpoint>

</flow>
<!--<end id="lis_09_transaction-xa"/>-->
    
</mule>
