chapter09/src/test/resources/exception/exception-strategies-conf-default.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
         http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
     
<!--<start id="lis_09_exception-strategies-conf-default"/>-->
<catch-exception-strategy name="globalCatchStrategy"><!--<co id="lis_09_exception-strategies-conf-default_1" />-->
    <set-payload value="Error: #[exception.summaryMessage]"/> 
</catch-exception-strategy>

<configuration defaultExceptionStrategy-ref="globalCatchStrategy" /><!--<co id="lis_09_exception-strategies-conf-default_2" />-->
  
<flow name="tax-calculator">

  <vm:inbound-endpoint 
    path="tax-calculator-service.in" 
	exchange-pattern="request-response" />
	
  <component>
    <singleton-object 
	  class="com.prancingdonkey.component.TaxCalculator" />
  </component>	
  
</flow>
<!--<end id="lis_09_exception-strategies-conf-default"/>-->

</mule>
