chapter06/src/test/resources/component/scripting-component.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:pattern="http://www.mulesoft.org/schema/mule/pattern"
	xmlns:test="http://www.mulesoft.org/schema/mule/test" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/pattern http://www.mulesoft.org/schema/mule/pattern/current/mule-pattern.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">


<!--<start id="lis_06_scripting-component"/>-->
<flow name="rhino-message-enritchment-service">
  <inbound-endpoint 
    address="vm://rhino-message-enritchment-service.in" 
	exchange-pattern="request-response" />
	
  <scripting:component><!--<co id="lis_06_scripting-component_1" />-->
    <scripting:script engine="javascript">
      <scripting:text>
        if (payload.search("STATUS: CRITICAL") != -1) {
          message.setProperty("PRIORITY", 'HIGH');
        }
        result = message
      </scripting:text>
    </scripting:script>
  </scripting:component>	
</flow>
<!--<end id="lis_06_scripting-component"/>-->

</mule>