chapter03/src/main/app/email-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"

      xmlns:imap="http://www.mulesoft.org/schema/mule/imap"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/imap http://www.mulesoft.org/schema/mule/imap/current/mule-imap.xsd
        http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
        
        http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
      ">

    <notifications dynamic="true">
        <notification event="ENDPOINT-MESSAGE"/>
    </notifications>

    <context:property-placeholder location="/mule.properties"/>

    <!--<start id="ch03_imap_lis"/>-->

    <jms:activemq-connector name="jmsConnector"
                            specification="1.1"
                            brokerURL="${jms.url}"/>

    <imap:connector name="imapConnector"
                    deleteReadMessages="true"
                    checkFrequency="60000"/><!--<co id="ch03_imap-1_cor"/>-->

    <flow name="dispatchCoolingAlerts">
        <imap:inbound-endpoint
                host="${imap.host}"
                port="${imap.port}"
                user="cooling"
                password="password"><!--<co id="ch03_imap-2_cor"/>-->
        </imap:inbound-endpoint>
        <all>   <!--<co id="ch03_imap-3_cor"/>-->
            <file:outbound-endpoint path="./data/cooling/reports">
              <expression-transformer
                 expression="#[message.inboundAttachments.report]"/><!--<co id="ch03_imap-4_cor"/>-->
            </file:outbound-endpoint>
            <jms:outbound-endpoint topic="cooling.alerts">
                <email:email-to-string-transformer/><!--<co id="ch03_imap-5_cor"/>-->
            </jms:outbound-endpoint>

        </all>
    </flow>
    <!--<end id="ch03_imap_lis"/>-->

    <!--<start id="ch03_smtp_lis"/>-->
    <flow name="sendExpenseReportEmails">
        <jms:inbound-endpoint topic="expenses.status"
                              exchange-pattern="one-way"/><!--<co id="ch03_smtp-1_cor"/>-->
        <smtp:outbound-endpoint from="mule@prancingdonkey.com"
                                host="${smtp.host}"
                                port="${smtp.port}"
                                subject="Expense Report Processed"
                                to="accounting@prancingdonkey.com"><!--<co id="ch03_smtp-2_cor"/>-->
            <email:string-to-email-transformer/><!--<co id="ch03_smtp-3_cor"/>-->
        </smtp:outbound-endpoint>
    </flow>
    <!--<end id="ch03_smtp_lis"/>-->

</mule>
