chapter03/src/main/app/file-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
        http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
      ">

    <context:property-placeholder location="/mule.properties"/>

    <notifications dynamic="true">
        <notification event="ENDPOINT-MESSAGE"/>
    </notifications>

    <flow name="dummyHttpServer">
        <http:inbound-endpoint host="${http.host}" port="${http.port}" path="expenseReports"/>
        <test:component/>
    </flow>


    <!--<start id="ch03_file_lis"/>-->
    <flow name="copyExpenseReports">
        <file:inbound-endpoint path="./data/expenses/1/in"
                               pollingFrequency="60000"><!--<co id="ch03_file-1_cor"/>-->
            <file:filename-regex-filter pattern=".*xls$"
                                        caseSensitive="false"/><!--<co id="ch03_file-2_cor"/>-->
        </file:inbound-endpoint>
        <file:outbound-endpoint path="./data/expenses/out"
             outputPattern="EXPENSE-REPORT-&#xD;
      #[org.mule.util.DateUtils.getTimeStamp('dd-MM-yy_HH-mm-ss.SSS')]&#xD;
      -#[inboundProperties['originalFilename']]"/><!--<co id="ch03_file-3_cor"/>-->
    </flow>
    <!--<end id="ch03_file_lis"/>-->

    <!--<start id="ch03_file_http_lis"/>-->
    <flow name="postExpenseReports">
        <file:inbound-endpoint path="./data/expenses/2/in"
                               pollingFrequency="60000">
            <file:filename-regex-filter pattern=".*xls$"
                                        caseSensitive="false"/>
        </file:inbound-endpoint>
        <http:outbound-endpoint host="${http.host}"
                                port="${http.port}"
                                path="expenseReports"
                                method="POST"
                                /><!--<co id="ch03_file_http-1_cor"/>-->
    </flow>
    <!--<end id="ch03_file_http_lis"/>-->

    <!--<start id="ch03_file_http_callback_lis"/>-->
    <flow name="expenseReportCallback">
        <http:inbound-endpoint host="${http.host}"
                               port="${http.port}"
                               path="expenseReportCallback"
                               method="POST"
                               exchange-pattern="one-way"/>
    <!-- <co id="ch03_file_http_callback-1_cor" /> -->
        <file:outbound-endpoint path="./data/expenses/status"
        outputPattern="#[java.util.UUID.randomUUID().toString()]&#xD;
        -#[org.mule.util.DateUtils.getTimeStamp&#xD;
        ('dd-MM-yy_HH-mm-ss.SSS')]&#xD;
        .xml"/>
    <!-- <co id="ch03_file_http_callback-2_cor" /> -->
    </flow>
    <!--<end id="ch03_file_http_callback_lis"/>-->


</mule>
