chapter03/src/main/app/jms-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
      xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd
        http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
        http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
      ">

    <context:property-placeholder location="/mule.properties"/>

    <http:connector name="httpConnector"/>

    <!--<start id="ch03_jms-outbound_lis"/>-->
    <jms:activemq-connector name="jmsConnector"
                            specification="1.1"
                            brokerURL="${jms.url}"/><!--<co id="ch03_jms-outbound_1-cor"/>-->

    <flow name="dispatchExpenseReports">
        <http:inbound-endpoint exchange-pattern="one-way"
                               host="${http.host}"
                               path="/expenses/status"
                               method="POST"
                               port="${http.port}"
                               connector-ref="httpConnector"/>
        <jms:outbound-endpoint topic="expenses.status"/> <!--<co id="ch03_jms-outbound_2-cor"/>-->
    </flow>
    <!--<end id="ch03_jms-outbound_lis"/>-->

    <!--<start id="ch03_jms-inbound_lis"/>-->
    <flow name="logExpenseReports">
        <jms:inbound-endpoint topic="expenses.status"
                              exchange-pattern="one-way"/><!--<co id="ch03_jms-inbound-1_cor"/>-->
        <logger level="INFO"
                message="Expense Report Processed:
    #[org.mule.util.DateUtils.getTimeStamp('dd-MM-yy_HH-mm-ss.SSS')]"/>
    </flow>
    <!--<end id="ch03_jms-inbound_lis"/>-->

    <!--<start id="ch03_jms-sync_lis"/>-->
       <flow name="brewJmsService">
          <jms:inbound-endpoint queue="brews.list"
                                exchange-pattern="request-response"/><!--<co id="ch03_jms-sync-1_cor"/>-->
           <component class="com.prancingdonkey.service.BrewServiceImpl"/>
           <mule-xml:object-to-xml-transformer />
       </flow>
    <!--<end id="ch03_jms-sync_lis"/>-->
    

</mule>
