chapter12/src/test/resources/acme-api-bridge.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
            http://www.mulesoft.org/schema/mule/jdbc http://www.mulesoft.org/schema/mule/jdbc/current/mule-jdbc.xsd
            http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
            ">

    <jdbc:connector name="jdbcConnector" dataSource-ref="jdbcDataSource">
        <jdbc:query key="storeData" value="INSERT INTO test(data) VALUES(#[message.payload])" />
        <jdbc:query key="retrieveData" value="SELECT TOP 1 data from test" />
    </jdbc:connector>

    <!--<start id="lis_12_acme-api-bridge"/>-->
    <!-- acme-api-bridge.xml -->
    <flow name="acmeApiBridge">
        <vm:inbound-endpoint path="invokeAcmeAmi" />
        <jdbc:outbound-endpoint queryKey="storeData" />
        <http:outbound-endpoint ref="acmeApiEndpoint" />
    </flow>
    <!--<end id="lis_12_acme-api-bridge"/>-->
</mule>