chapter12/src/test/resources/expressions.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
    xmlns:pattern="http://www.mulesoft.org/schema/mule/pattern"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
            http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
            http://www.mulesoft.org/schema/mule/pattern http://www.mulesoft.org/schema/mule/pattern/current/mule-pattern.xsd
            ">
    
    <!--<start id="lis_12_expressions-7"/>-->
    <spring:bean
        class="com.prancingdonkey.evaluator.MessageBundleEvaluator" />
    <!--<end id="lis_12_expressions-7"/>-->

    <flow name="customEval">
        <vm:inbound-endpoint path="custom.eval.in"
                             exchange-pattern="request-response" />
        <!--<start id="lis_12_expressions-8"/>-->
        <logger message="#[message-bundle:op.rejected]"
                category="com.prancingdonkey.service.Invoice"
                level="WARN" />
        <expression-transformer>
            <return-argument evaluator="custom"
                             custom-evaluator="message-bundle"
                             expression="op.rejected" />
        </expression-transformer>
        <!--<end id="lis_12_expressions-8"/>-->
    </flow>
</mule>
