chapter12/src/test/resources/ftc-misc.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xmlns:test="http://www.mulesoft.org/schema/mule/test"
    xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="ftcReturnData">
        <vm:inbound-endpoint path="ftc.returndata" exchange-pattern="request-response" />
        <!--<start id="lis_12_ftc_misc-1"/>-->
        <test:component>
          <test:return-data>
            TEST PAYLOAD
          </test:return-data>
        </test:component>
        <!--<end id="lis_12_ftc_misc-1"/>-->
    </flow>

    <flow name="ftcReturnFileData">
        <vm:inbound-endpoint path="ftc.returnfiledata" exchange-pattern="request-response" />
        <!--<start id="lis_12_ftc_misc-2"/>-->
        <test:component>
          <test:return-data file="payload.txt" />
        </test:component>
        <!--<end id="lis_12_ftc_misc-2"/>-->
    </flow>

    <flow name="ftcWaitTime">
        <vm:inbound-endpoint path="ftc.waitTime" exchange-pattern="request-response" />
        <!--<start id="lis_12_ftc_misc-3"/>-->
        <test:component waitTime="15000">
          <test:return-data>{"result":"success"}</test:return-data>
        </test:component>
        <!--<end id="lis_12_ftc_misc-3"/>-->
    </flow>

    <flow name="ftcThrowing">
        <vm:inbound-endpoint path="ftc.throwing" exchange-pattern="request-response" />
        <!--<start id="lis_12_ftc_misc-4"/>-->
        <test:component throwException="true"
                        exceptionToThrow="java.lang.RuntimeException" />
        <!--<end id="lis_12_ftc_misc-4"/>-->
    </flow>
 </mule>
